:root {
    --primary: #1f5628;
    --secondary: #cb8b09;
    --near-black: #111111;
}

.full-content > *:not(:first-child) {
    display: none;
}

.full-content.show > *:not(:first-child) {
    display: block;
}

.bg-color-primary {
    background-color: var(--primary);
}

.color-primary {
    color: var(--primary);
}

.bg-color-secondary {
    background-color: var(--secondary);
}

.color-secondary {
    color: var(--secondary);
}

.summary {
    margin-bottom: -0.75rem;
}

.pagination {
    list-style: none;
    display: flex;
}

li.page-item {
    margin-right: 1rem;
}

a.page-link {
    color: var(--primary);
    text-decoration: none;
}

li.page-item.active a.page-link,
li.page-item.disabled a.page-link {
    color: gray;
}

blockquote {
    font-style: italic;
    color: var(--primary);
    border-left: 3px solid var(--primary);
    padding-left: 0.75rem;
    position: relative;
    left: -0.75rem;
}

.banner {
    background-image: url('/img/bg-1.jpg');
    background-size: auto;
    background-position: center;
}

p img {
    width: 100%;
}

.text-shadow-1 {
  text-shadow: 0 0 0.25rem var(--near-black);
}