<article class="bb b--moon-gray pa4 mb4 shadow-1--hover">
  <h2 class="tc"> {{ .Title }} </h2>
  <small class="tc db mb4">— Post date: {{.Date.Format "02/01/2006"}} // By Robert Duchey —</small>
  {{ $content := replace .Content .Summary "" }}
  <div class="summary dark-gray avenir">
      {{ .Summary }}
  </div>
  <div class="full-content dark-gray avenir">
      {{ $content | safeHTML }}
  </div>
  <div class="tags-list mt3">
      {{- with .Params.tags -}}
          {{- range . -}}
            <a class="link dim color-primary b mr2" href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}/">#{{ . }}</a>
          {{ end -}}
      {{- end -}}
  </div>
  <div class="flex justify-end">
    <a class="read-more link dim color-primary b" href="#">Read more</a>
    <a class="show-less link dim color-primary b dn" href="#">Show less</a>
  </div>

</article>